{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control">
                        <div class="invisible">
                            <input type="text" readonly class="form-control-plaintext" name="id" value={{id}}>
                        </div>  
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br>

{% endblock %}
